BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
SortIncludes: true
IncludeBlocks: Preserve
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false

# 对齐连续的宏、赋值、声明
AlignConsecutiveMacros: true
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
